<!doctype html>
<html><head>
  <meta charset="utf-8">
  <title>tmemes: putting the meme in TS</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body id="create">
{{template "nav.tmpl" ""}}
<div class="container">
  <h1>Create your own version of {{.Name}}</h1>
  <div class="create">
    <div class="image-container">
      <img id="preview-fallback" src="{{.ImageURL}}" />
      <canvas id="preview" />
    </div>
    <div class="create-data">
      <div class="text-entry">
        <label for="top">Top line of text:</label> <input id="top" />
        <label for="bottom">Bottom line of text:</label> <input id="bottom" />
        {{ if .AllowAnon }}
        <label for="anon">Anonymous?</label> <span><input id="anon" type="checkbox" /></span>
        {{ end }}
      </div>
      <button class="button submit" id="submit">Upload</button>
    </div>
  </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>

