<!doctype html>
<html><head>
  <title>tmemes: putting the meme in TS</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body id="macros">
{{template "nav.tmpl" "macro"}}
<div class="container">
  {{ $caller := .CallerID }}
  <h1>Macros</h1>
  {{if or .HasPrevPage .HasNextPage}}<div class="pages">
  {{if .HasPrevPage}}<a href="?page={{sub1 .Page}}">← previous page</a>{{end}}
  {{if .HasNextPage}}<a href="?page={{add1 .Page}}">next page →</a>{{end}}
  </div>{{end}}
  <div class="{{ if gt (len .Macros) 1 }}meme-list{{end}}">
    {{range .Macros}}
    <div class="meme">
      <div class="meta byline">
      Posted by {{.CreatorName}} at {{timestamp .CreatedAt}}
      </div>
      <a href="/m/{{.ID}}" src="link to macro {{.ID}}">
        <img src="{{.ImageURL}}" width="{{.Template.Width}}" height="{{.Template.Height}}" loading="lazy" />
      </a>
      <div class="meta actions">
        <button title="upvote" class="upvote macro {{if .Upvoted}}upvoted{{end}}" upvote-id="{{.ID}}">{{.Upvotes}}</button>
        <button title="downvote" class="downvote macro {{if .Downvoted}}downvoted{{end}}" downvote-id="{{.ID}}">{{.Downvotes}}</button>
        {{ if eq $caller .CreatorID }}
          <button class="delete macro" delete-id="{{.ID}}">Delete</button>
        {{end}}
      </div>{{if .ContextLink}}
      <div class="meta context">Context: {{range .ContextLink}}
        <a href="{{.URL}}" target="_blank" rel="noreferrer noopener">{{or .Text .URL}}</a>{{end}}
      </div>{{end}}
    </div>
    {{end}}
  </div>
</div>
</body>
<script src="/static/script.js"></script>
</html>
