:root {
  --grey: #dadada;
  --light-grey: #efefef;
  --dark-grey: #aaa;
  --text-body: var(--grey);
  --text-muted: #A5AFC4;
  --bg-body: #15141A;
  --bg-cards: #142138;
  --card-max-height: 600px;
  --cards-per-page: 24;
  --success: green;
  --warn: #c97514;
  --error: #9e0808;
}

@font-face {
  font-family: 'Oswald SemiBold';
  src:  url('/static/font/Oswald-SemiBold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: var(--bg-body);
  color: var(--text-body);
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  margin: 0.25rem;
  background: var(--bg-cards);
  color: var(--text-body);
  border: 0;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: 0.2s all;
  font-size: 1rem;
}

.button:hover {
  background: var(--text-body);
  color: var(--bg-cards);
}

h1 {
  margin-inline: 1rem;
}

/**************************************************
  NAVIGATION
**************************************************/
nav {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

nav svg {
  display: block;
  align-self: center;
  margin: 0.25rem 1rem 0 1.5rem;
  color: initial;
}

nav a {
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: var(--bg-cards);
}

nav a:hover,
nav a.active {
  color: var(--text-body);
  background: var(--bg-body);
}

.nav-wrapper {
  background: var(--dark-grey);
}

/**************************************************
  IMAGE CARDS
**************************************************/

.meme-list {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.meme-list > * {
  margin: 0.5rem;
  display: inline-block;
}

.meme-list .meme {
  width: 80%;
  background: var(--bg-cards);
  border-radius: 0.5rem;
  max-width: 800px;
  max-height: var(--card-max-height);
}

.meme-list .meme img {
  width: 100%;
  height: auto;
}

.meme {
  position: relative;
  width: fit-content;
  background: var(--bg-cards);
}

.meme .desc {
  margin: 1rem;
}

.meme img {
  max-width: 100%;
}

.meta {
  padding: 0.75rem 1rem;
  color: var(--text-muted);
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1;
}

.actions button {
  border: 1.5px solid var(--text-muted);
  font-weight: bold;
  color: var(--text-muted);
  background: transparent;
  text-align: center;
  line-height: 1.8;
  border-radius: 3px;
  cursor: pointer;
  justify-content: flex-start;
  height: 30px;
}

.actions {
  display: flex;
}

.actions .delete {
  margin-left: auto;
  padding: 0 0.5rem;
}

.actions .upvote,
.actions .downvote {
  width: 50px;
  margin-right: 0.6rem;
}

.actions .upvote::before,
.actions .downvote::before {
  display: inline-block;
  margin-right: 0.5rem;
}

.actions .upvote::before{
  content: "+";
}

.actions .downvote::before {
  content: "–";
}

.actions .upvote:hover,
.actions .upvoted {
  border-color: var(--success);
  color: var(--success);
}

.actions .downvote:hover,
.actions .downvoted {
  border-color: var(--warn);
  color: var(--warn);
}

.actions .delete:hover {
  border-color: var(--error);
  color: var(--error);
}

/**************************************************
  UPLOAD
**************************************************/

div.form-input {
  padding: 1rem;
}

div#upload {
  border: 4px solid transparent;
}

.highlight #upload {
  border: 4px dashed var(--light-grey);
}

#image-preview {
  width: 100px;
  height: 100px;
  border-style: solid;
}

/**************************************************
  CREATE PAGE
**************************************************/

.create .image-container {
  max-width: 600px;
  position: relative;
}

.image-container img {
  width: 100%;
  display: block;
}

.image-container canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.create {
  display: flex;
  gap: 2rem;
}

.text-entry {
  display: grid;
  grid-template-columns: 150px 1fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
  padding-top: 1rem;
}

.text-entry label {
  font-size: 0.95rem;
}

.text-entry .input[type="text"] {
  padding: 0.5rem 0.8rem;
}

.create-data .button {
  margin: 1rem 0 0;
}


/**************************************************
  TEMPLATES PAGE
**************************************************/

.template-link {
  text-decoration: none;
  color: var(--text-body);
  position: relative;
}

.template-link img {
  transition: 0.3s all;
}

.template-link:hover img {
  opacity: 0.2;
  transition: 0.3s all;
}

.template-link:hover::before {
  position: absolute;
  top: 40%;
  content: "Use this template";
  color: var(--text-body);
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/**************************************************
  COLUMNS
**************************************************/

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .meme-list::before {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  .meme-list {
    height: calc((var(--card-max-height)*var(--cards-per-page))/2);
  }

  .meme-list .meme {
    width: calc(80%/2)
  }

  .meme-list .meme:nth-child(2n+1) {
    order: 1;
  }

  .meme-list .meme:nth-child(2n) {
    order: 2;
  }
}

@media screen and (min-width: 1100px) {
  .meme-list::before, .meme-list::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  .meme-list {
    height: calc((var(--card-max-height)*var(--cards-per-page))/3);
  }

  .meme-list .meme {
    width: calc(80%/3)
  }

  .meme-list .meme:nth-child(3n+1) {
    order: 1;
  }

  .meme-list .meme:nth-child(3n+2) {
    order: 2;
  }

  .meme-list .meme:nth-child(3n) {
    order: 3;
  }
}
